{% extends 'crm/base.html' %}
{% load static %}

{% block title %}Клієнти | Інформаційна система комп'ютерної фірми{% endblock %}

{% block page_header %}
<div class="page-header w-full flex justify-between items-center pt-6">
    <div class="page-header__main flex flex-col items-start ">
        <h1 class="page-header__title">Клієнти</h1>
        <p class="page-header__subtitle">Список всіх клієнтів фірми</p>
    </div>
    <div class="page-header__actions flex justify-center items-center">
        {% comment %} <a href="{% url 'crm:customer_add' %}" class="btn btn--primary">
            </a> {% endcomment %}
        <div class=" flex justify-center items-center" id="page-header-actions"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="table-container full-screen mt-5">

    <div class="table-wrapper">
        <table class="table" id="customer-list-table">
            <thead>
                <tr>
                    <th data-sortable="true">Прізвище Ім'я</th>
                    <th data-sortable="true">Email</th>
                    <th>Телефон</th>
                    <th>Дата реєстрації</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody id="customer-list-body">
                {# Дані будуть завантажені асинхронно за допомогою JavaScript #}
                <tr>
                    <td colspan="5" class="text-center">Завантаження...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{# Підключаємо скрипт, специфічний для цієї сторінки. Gulp автоматично скомпілює його в main.js #}
<script type="module" src="{% static 'dist/js/crm/pages/customers.js' %}"></script>
{% endblock %}