[MESSAGES CONTROL]
disable = missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        import-outside-toplevel,
        attribute-defined-outside-init,
        line-too-long,
        invalid-str-returned,
        no-member,
        trailing-whitespace,
        trailing-newlines,
        missing-final-newline,
        unused-import,
        wrong-import-order
