Django~=5.2.5
mongoengine~=0.29.1
python-decouple~=3.8
djangorestframework~=3.16.1
django-cors-headers~=4.9.0
pymongo~=4.15.3
dnspython~=2.8.0
gunicorn~=23.0.0
dj-database-url~=3.0.1
dnspython~=2.8.0
uvicorn[standard]~=0.38.0
whitenoise~=6.11.0
