
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--text-primary);
}

.form-group input {
    width: 100%;
    padding: 12px 18px;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: var(--black);
}

.form-section {
    margin: 30px 0;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
}

.form-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: 1.2rem;
    }
}

.form-section h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.6rem;
}  

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--text-secondary);
    cursor: pointer;
}

.checkbox-label input {
    cursor: pointer;
}

.checkbox-terms {
    text-decoration: underline;
    font-weight: 600;
    transition: all 0.15s;
    color: var(--black);

    &:hover {
        opacity: 0.7;
    }
}

.forgot-link {
    color: var(--text-secondary);
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-link:hover {
    color: var(--black);
}







.products-container {
    margin-top: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    
    .products-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
        margin-bottom: 15px;
        
        th,
        td {
            padding: 8px 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f0f0f0;
            font-weight: 600;
            color: #555;
        }
        
        tbody tr:hover {
            background-color: #f5f5f5;
        }
        
        tfoot {
            border-top: 2px solid #ddd;
        }
        
        tfoot td {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        
        select,
        input[type="number"] {
            width: 100%;
            padding: 4px 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 14px;
        }
        
        .subtotal-display {
            font-weight: 600;
            color: #333;
        }
    }
}



