/* ============ HERO SECTION ============ */
.hero {
    padding: 5rem 0 75px;
    background: var(--white);
}

.hero-title {
    font-size: 250px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 15px;
    line-height: 20rem;
    padding: 0 0 5rem 0;
    /* margin-bottom: 40px; */
    font-weight: 800;
    letter-spacing: -1px;
    color: var(--black);
}

.hero-slider-wrapper {
    position: relative;
}

.hero-slider {
    overflow: hidden;
}

.hero-slide {
    display: none;
    animation: fadeIn 0.6s;
}

.hero-slide.active {
    display: block;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.hero-image {
    width: 100%;
}

.hero-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 30px;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text p {
    color: var(--text-secondary);
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 30px;
}