.page-header {
    padding: 80px 0 60px;
    background: var(--gray-light);
    text-align: center;
}

.page-header h1 {
    font-size: 56px;
    margin-bottom: 15px;
}

.page-header p {
    font-size: 16px;
    color: var(--text-secondary);
}