/* Products Catalog */
.products-catalog {
    margin-bottom: 40px;
}

/* GRID (за замовчуванням) */
.products-catalog.grid-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* LIST */
.products-catalog.list-view {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products-catalog.list-view .catalog-product-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    gap: 20px;
    align-items: center;
}

.products-catalog.list-view .product-image {
    height: auto;
    overflow: visible;

    .product-badge {
        top: -10px;
        left: -5px;
        z-index: 15;
    }

    img {
            width: 150px;
            height: auto;
    } 
}

.products-catalog.list-view .product-details {
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .product-info {
        flex-grow: 1;
        width: 100%;
    }

    button {
        flex-shrink: 1;
    }
}


.catalog-product-card {
    background: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 0 0 15px 15px;
    // overflow: hidden;
    transition: all 0.3s;
}

.catalog-product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.catalog-product-card .product-image {
    position: relative;
    height: 280px;
    overflow: hidden;
}

.catalog-product-card .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.catalog-product-card:hover .product-image img {
    transform: scale(1.05);
}

.product-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--black);
    color: var(--white);
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 11px;
}

.product-wishlist {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 36px;
    height: 36px;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: all 0.3s;
}

.product-wishlist:hover {
    background: var(--danger);
    color: var(--white);
}

.product-details {
    padding: 20px;
}

.product-rating {
    color: #fbbf24;
    font-size: 14px;
    margin-bottom: 8px;
}

.product-details h4 {
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: 500;
}

.product-details h5 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
}

.product-details p {
    font-size: 12px;
    color: var(--text-secondary);
    margin-bottom: 5px;
}

.product-price {
    font-size: 15px !important;
    font-weight: 600;
    margin-bottom: 15px;
}