/* CONTAINER */
.profile-wrapper {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

/* MAIN CARD */
.profile-card {
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 4rem 15rem;
    border-radius: 8px;  /* різкі кути */
    display: flex;
    box-shadow: 0 0 40px rgba(0,0,0,0.05);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 600;
}

.section-subtitle {
    font-size: 22px;
    margin-bottom: 3rem;
    font-weight: 600;
    align-self: flex-start;
}

/* INFO */
.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 40px;
    margin-bottom: 6rem;
    width: 100%;
}

.info-item {
    position: relative;
}

.value {
    font-size: 16px;
    width: 55.8rem;
    color: #222;
    padding-bottom: .5rem;
    padding-left: .5rem;
    border-bottom: 1px solid var(--color-gray-400);
    outline: none;

    &::placeholder {
        color: var(--color-gray-500);
        letter-spacing: .1rem;
    }
}


.form-group {
    width: 100%;
}