
.social-auth {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.social-text-container {
    display: flex;
    align-items: center;
    gap: 1px;
}

.social-text {
    transition: all 0.15s;
}

.social-btn {
    flex: 1;
    padding: 12px;
    border: 1px solid var(--border-color);
    background: var(--white);
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s;
}

.social-btn:hover {
    background: var(--gray-light);
    transform: translateY(-2px);

    .social-text {
        &.red {
            color: #ea4335;
        }

        &.green {
            color: #34a853;
        }

        &.blue {
            color: #4285f4;
        }

        &.yellow {
            color: #fbbc05;
        }
    }
}
