/* ============ WHY CHOOSE US ============ */
.why-choose {
    padding: 100px 0 6rem 0;
    background: var(--white);
}

.why-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 60px;
    row-gap: 0;
    align-items: start;
}

.section-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 40px;
}

.accordion {
    max-height: 39rem;
    overflow-y: auto;
    padding-right: 20px;
}

.accordion::-webkit-scrollbar {
    width: 6px;
}

.accordion::-webkit-scrollbar-track {
    background: var(--gray-light);
    border-radius: 3px;
}

.accordion::-webkit-scrollbar-thumb {
    background: var(--gray-medium);
    border-radius: 3px;
}

.accordion::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark);
}

.accordion-item {
    border-bottom: 1px solid var(--border-color);
}

.accordion-header {
    width: 100%;
    padding: 20px 0;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-align: left;
}

.accordion-header h3 {
    font-size: 16px;
    font-weight: 500;
}

.accordion-icon {
    font-size: 28px;
    transition: transform 0.3s;
    line-height: 1;
}

.accordion-item.active .accordion-icon {
    transform: rotate(90deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-item.active .accordion-content {
    max-height: 300px;
}

.accordion-content p {
    font-size: 14px;
    color: var(--text-secondary);
    line-height: 1.8;
    padding-bottom: 20px;
}

.why-text {
    grid-column: span 2 / span 2;
    grid-row: span 8 / span 8;
}

.why-images {
    grid-column: span 3 / span 3;
    grid-row: span 6 / span 6;
    grid-column-start: 3;
    grid-row-start: 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.why-image-card {
    border-radius: 20px;
    overflow: hidden;
}

.why-image-card.large {
    grid-row: span 2;
    height: 400px;
}

.why-image-card.small {
    height: 19rem;
}

.why-image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.why-image-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.why-description {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 3;

    box-sizing: border-box;
    width: 100%;
    padding-left: 15rem;

    text-align: end;
}

.why-description p {
    font-size: 14px;
    color: var(--text-secondary);
    line-height: 1.8;
}