{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="crm-root">
        {% include 'crm/_sidebar.html' %}
        <main class="crm-main">
            <div class="crm-main-header">
                {% block crm__page_header %}{% endblock crm__page_header %}
            </div>
            {% block crm__content %}{% endblock crm__content %}
        </main>
    </div>
{% endblock content %}  

{% block extra_js %}
    <script type="module" src="{% static 'js/crm/crm.js' %}"></script>

    {% block crm__extra_js %}{% endblock crm__extra_js %}
{% endblock extra_js %}