{% extends "user/base.html" %}
{% block content %}

<div class="crm-container">

    <div class="header">
        <h1>Посади</h1>
        <a href="{% url 'position_create' %}" class="btn btn-black">+ Нова посада</a>
    </div>

    <table class="crm-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Опис</th>
                <th width="160">Дії</th>
            </tr>
        </thead>

        <tbody>
        {% for p in positions %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.description }}</td>
                <td>
                    <a href="{% url 'position_edit' p.id %}" class="btn btn-white">Редагувати</a>
                    <a href="{% url 'position_delete' p.id %}" class="btn btn-danger">×</a>
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="4" class="empty">Позицій немає</td></tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
