{% extends "user/base.html" %}
{% block content %}

<div class="crm-container form-container">

    <h1>{% if role %}Редагувати роль{% else %}Нова роль{% endif %}</h1>

    <form method="post">
        {% csrf_token %}

        <label>Назва</label>
        {{ form.name }}

        <label>Опис</label>
        {{ form.description }}

        <div class="actions">
            <button class="btn btn-black">Зберегти</button>
            <a href="{% url 'roles_list' %}" class="btn btn-white">Назад</a>
        </div>
    </form>

</div>

{% endblock %}
