{% extends "user/base.html" %}
{% block content %}

<div class="crm-container">

    <div class="header">
        <h1>Послуги</h1>
        <a href="{% url 'service_create' %}" class="btn btn-black">+ Нова послуга</a>
    </div>

    <table class="crm-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Ціна</th>
                <th width="160">Дії</th>
            </tr>
        </thead>

        <tbody>
        {% for s in services %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.price }} ₴</td>

                <td>
                    <a href="{% url 'service_edit' s.id %}" class="btn btn-white">Редагувати</a>
                    <a href="{% url 'service_delete' s.id %}" class="btn btn-danger">×</a>
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="4" class="empty">Послуг немає</td></tr>
        {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}
