{% extends 'crm/base.html' %}
{% load static %}

{% block title %}Товари | Інформаційна система комп'ютерної фірми{% endblock %}

{% block page_header %}
<div class="page-header w-full flex justify-between items-center pt-6">
    <div class="page-header__main flex flex-col items-start">
        <h1 class="page-header__title">Каталог товарів</h1>
        <p class="page-header__subtitle">Список всіх товарів на складі</p>
    </div>
    <div class="page-header__actions flex justify-center items-center">
        <div class=" flex justify-center items-center" id="page-header-actions"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="table-container full-screen mt-5">

    <div class="table-wrapper">
        <table class="table" id="product-list-table">
            <thead>
                <tr>
                    <th data-sortable="true">Назва товару</th>
                    <th data-sortable="true">Категорія</th>
                    <th data-sortable="true">Виробник</th>
                    <th data-sortable="true">Ціна</th>
                    <th data-sortable="true">К-сть на складі</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody id="product-list-body">
                {# Дані будуть завантажені асинхронно за допомогою JavaScript #}
                <tr>
                    <td colspan="6" class="text-center">Завантаження...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'dist/js/crm/pages/products.js' %}"></script>
{% endblock %}