$blue:           #091D9E;
$blue_light:     #BCC5FF;

$purple:         #750DC5;

$gray:           #C1C1C1;
$gray_light:     #F6F6F6;
$gray_dark:      #0C0C0C;
$gray_primary:   #454545;
$gray_secondary: #ABABAB;
$gray_third:     #DEDEDE;

$yellow:         #EBBA1A;
$red:            #F00F00;
$green:          #169800;

$white:          #ffffff;
$black:          #000000;


$gradient: linear-gradient(267deg, #260DC1 6.29%, #59006F 100%);